* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;

    // endorsed by Material for "dark" theme
    // https://uxplanet.org/8-tips-for-dark-theme-design-8dfc2f8f7ab6
    background-color: #121212;
    color: #eee;
}

.page-container {
    height: 100vh;
    padding: 8px;
}

.row {
    margin-bottom: 20px;
}

.tile.MuiButton-root {
    height: 100px;
    width: 100px;
    font-size: 40px;
    margin-right: 20px;
}
